html{
    height: 100%;
}
body {
    height: 100%;
    position: relative;
    color: #fff;
    background-color: #343a40 !important;
    font-family: 'Roboto', sans-serif;
}
.form-control {		
    min-height: 41px;
    box-shadow: none;
    border-color: #e1e4e5;
}
.form-control:focus {
    border-color: #49c1a2;
}
.form-control, .btn {        
    border-radius: 3px;
}
.signup-form {
    
}
.signup-form form {
    color: #9ba5a8;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form h2 {
    color: #333 !important;
    font-weight: bold;
    margin-top: 0;
}
.signup-form hr {
    margin: 0 -30px 20px;
}    
.signup-form .form-group {
    margin-bottom: 6px;
}
.signup-form label {
    font-weight: 600;
    font-size: 13px;
    float:none !important;
}
.signup-form .btn {        
    font-size: 16px;
    font-weight: bold;
    background: #343a40 !important;
    border: none;
    min-width: 140px;
    margin-top:15px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
    background: #696d72 !important;
    outline: none !important;
}
.signup-form a {
    color: #fff;
    text-decoration: underline;
}
.signup-form a:hover {
    text-decoration: none;
}
.signup-form form a {
    color: #343a40 !important;
    text-decoration: none;
}	
.signup-form form a:hover {
    text-decoration: underline;
}
.signuperror{
    color: red;
    text-align: center;
}