.maincontainer{
    margin-top: 5px;
}
.nameheading{
    color: #fff;
    padding: 0 10px;
}
.commentbank-heading{
    padding: 5px 0;
    background-color: #eee;
    text-align: center;
    font-weight: 500;
}
.mfradio{
    cursor: pointer;  
    width:40px;
    padding: 5px 0;
    background-color: #bebebe;
    color: #fff;
    font-weight: 500;
    
}
#male,#female{
    display: none;
}
input[name="gender"]:checked+label {
  background-color: #343a40;
}
.formlabels1{
    background-color: #343a40;
    margin-right: 5px;
    color: #fff;
}
.formlabels{
    background-color: #343a40;
    margin-right: 5px;
    margin-left: 10px;
    color: #fff;
}
.mfright{
    margin-left: 2px;
}
.mfleft{
    margin-left: 10px;
}
.textareacls{
    height: 280px;
    resize: none;
}
.textarearowcls{
    margin-top:5px;
}
.downloadtempul li{
    list-style: none;
}
.downloadtempul{
    padding-left: 0 !important;
}

.downloadtempul li span{
    text-decoration: underline;
    color: cornflowerblue;
    cursor: pointer;
    padding: 10px;
}
.downloadtempul li span:hover{
    color: #343a40;
}
.classlist{
    height:100px;
    border:1px solid darkgrey;
    
}
.commentbank-categories{
    height: 120px;
    background-color: #343a40;
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}
.commentslist{
    margin-top: 5px;
    height: 300px;
    background-color: #eee;
    color: #000;
    overflow-y: auto;
    overflow-x: hidden;
}
.categorylist{
    margin-top: 5px;
    height: 300px;
    background-color: #eee;
    color: #000;
    overflow-y: auto;
    overflow-x: hidden;
}
.commentbank-category{
    background-color: #64696e;
    text-align: center;
    border-right: 1px solid #fff;
    cursor: pointer;
    margin:5px;
}
.edit-comment-area{
    height: 120px;
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}
.edit_comment_text{
    width: 100%;
    resize: none;
}
.commentbank-category:hover{
    background-color: #8a8a8a;
}
.commentbank-categorylst{
    background-color: #64696e;
    text-align: center;
    cursor: pointer;
    margin:5px;
}
.commentbank-categorylst:hover{
    background-color: #8a8a8a;
}
.commentbank-category-row{
    margin-right: 10px;
    margin-left: 5px;
}
.commntbox-btns{
    font-size: 0.82rem;
    width:100%;
    padding:5px 0;
}
.cmmntboxbtns-row{
    margin-top:5px;
}
.comment_text{
    background-color: #fff;
    color: #000;
    margin: 10px 10px 18px 10px;
    padding:5px;
    overflow-wrap: break-word;
}
.category_text{
    background-color: #fff;
    color: #000;
    margin: 10px 10px 18px 10px;
    padding:5px;
    overflow-wrap: break-word;
}
.addcategory{
    height: 425px;
    display:none;
}
.addnewcomment{
    height: 425px;
    display:none;
}
#commentt{
    resize: none;
}
.icon11{    
    float: right;
    margin-left: 5px;
    font-size: 12px;
    padding: 3px;
    background-color: #343a40;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.icon11:hover{
    color: #fff;
    background-color: #494f55;
}
.addcatform{
    border: 1px solid #a9a9a9;
    padding : 5px;
    display: inline-block;
}
.editcatform{
    border: 1px solid #a9a9a9;
    padding : 5px;
    display: none;
}
.exportcatcommnt{
    float:right;
    padding : 5px;
    display: inline-block;
}

.firstrow{
    padding-top:10px;
}














@media only screen and (min-width: 600px) {
  .textareacls {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 93.5%;
  }
    .copyreportt{
        max-width: 27.5%;
        flex: 0 0 27.5%;
    }
}